@font-face {
  font-family: "Century Expanded Regular";
  src: url("/fonts/petermoreau-medium-webfont.woff") format("woff"),
    url("/fonts/petermoreau-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Century Expanded Italic";
  src: url("/fonts/petermoreauitalic-medium-webfont.woff") format("woff"),
    url("/fonts/petermoreauitalic-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Druk Medium";
  src: url("/fonts/Druk-Medium-Web.woff") format("woff"),
    url("/fonts/Druk-Medium-Web.woff2") format("woff2");
}

*::-webkit-scrollbar{
  display: none;
}

.section {
  background-color: white;
  position: relative;
}

p {
  hyphens: auto;
}

@media(max-width: 992px) {
  p {
    font-size: 1.125rem !important;
  }
}
